{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'assets/CSS/carwashsys.css' %}">
    <link rel="stylesheet" href="{% static 'assets/CSS/main.css' %}">
    <title>Carwash Section</title>
   
</head>
<body>
    <section>
        <nav>
            <div>
                <a href="#" Class="logo"><b>LOGO</b></a>
                <div class="navigation"><a href="{% url 'main_menu' %}">Home> </a> <a href="carwash.html">Carwash></a></div> 
            </div> 
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>                        
                    <ul>                    
                        <span><li>Hello,{{request.user}}</li></span> 
                        <li>HELP</li> 
                        <span><li><a href="{% url 'logout' %}">LOGOUT</a></li></span>
                    </ul>  
                </ul> 
            </div> 
            <i class="fa fa-bars"onclick="showMenu()"></i>        
        </nav>
</section>
<div class="container-md border" style="margin-top: 90px;">
    <div class="row">
        <div class="col-md-8 border">
            <div class="">
                <!-- Vehicle registration section-->
                <h1>Enter Vehicle Details</h1>
                <p>{% for message in messages %}</p>
                <div class="alert alert-success"><h6 font-size="60px" font-weight="bold">{{ message }}</h6></div>
        
                {% endfor %}
                <input class="search-enter" type="text" placeholder="Enter Vehicle Number Plate" id="numberPlate">
                <!-- <input class="search-enter" type="text" placeholder="Enter Body Type" id="body_type" name="category"> -->
                <input type="submit" value="Enter" class="btn-enter" onclick="PlateOutput()" id="submit-btn"> 
            </div>
            <div class="wrapper1">
                {% for category in categories %}
                <div class="body-btn"><button id="bodyinput">{{ category.name }}</button></div>  
                {% endfor %}  
            </div>
            <div class="wrapper2">
                {% for service in services %}
                <div class="service-type"><button id="servce-btn">
                    {{service.name}} 
                </button></div>
                {% endfor %}  
            </div>
            <div class="wrapper3">
                {% for staff in staffs %}
                <div class="washer"><button id="operator-btn">{{staff.first_name}} </button></div>
                {% endfor %}
            </div>
<!-- washed vehicles but unpaid, table-->

            <div class="wrapper4">
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Service</th>
                            <th>Registration</th>
                            <th>Body Type</th>
                            <th>Price</th>
                            <th>Attendant</th>
                            <th>Commision</th>
                            <th>Payment</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for sale in sales %}
                        <tr>
                            <td>{{sale.created}}</td>
                            <td>{{sale.service.name}}</td>
                            <td>{{sale.vehicle}}</td>
                            <td>{{sale.category}}</td>
                            <td>{{sale.service.price}}</td>
                            <td>{{sale.staff}}</td>
                            <td>{{sale.commision}}</td>
                            <td>
                                <span class="action_btn">
                                    <a href="#">PAY</a>
                                </span>
                            </td>
                            
                        </tr>
                    {% endfor %}
                    </tbody>
        
                </table>
            </div>
            <div class="wrapper5">
                <div class="N-page"><a href="{% url 'recentWash' %}"><button>more</button></a></div>
            </div>
        </div>
        <div class="col-md-4 border">
            <div class="wrapper6">
                <h3>Customer Details</h3>
<!--                Carwash sale form section                                               -->
                <form action="{% url 'register_sale' %}" method="POST">
                    {% csrf_token %}
                <div class="vhcl" >
                    <label for="vehicle">Vehicle: </label>
                        {% render_field form.vehicle id="numbplate" %}
                </div><br>
                <div class="vhcl">
                    <label for="Category">Body Type: </label>
                    {% render_field form.category id="bodyType" %}
                </div><br>
                <div class="srvc">
                    
                    <label for="Service">Service: </label>
                    {% render_field form.service id="serviceType" %}
                </div><br>
                <div class="srvc">
                    <label for="Staff">Staff: </label>
                    {% render_field form.staff id="staff-washing" %}
                </div><br>
                <div class="vhcl">
                    <label for="Payment_status">Payment Status: </label>
                    {% render_field form.Payment_status id="staff-washing" %}
                </div><br>
            
                <div class="wrapper7">
                    <div class="pay-sec"><button>Cash</button></div>
                    <div class="pay-sec"><button>Mpesa</button></div>
                    <div class="pay-sec"><button>Card</button></div>
                </div><br>
                <div class="wrapper8">
                    <div class="p-btn"><input type="submit" value="Pay Later"></div>
                    <div class="c-btn"><input type="reset" value="clear"></div>
                </div>
            </form> 
            </div> 
        </div>

    </div>
    
</div>
<script> 
    var navLinks =document.getElementById("navLinks");
    function showMenu(){
        navLinks.style.right = "0";
    }
    function hideMenu(){
        navLinks.style.right = "-200px"
    }
    
</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{% static 'assets/javascript/main.js' %}"></script> 
</body>
</html>
