{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'assets/CSS/body.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <section  class="container">
        <div class="">
            <form method="POST" action=" ">

                <div class="header-update">
                    <h4>Create Body Type</h4>
                </div>
                {% csrf_token %}
                {{form}}
                <div class="save-btn">
                    <button type="submit">CREATE</button>
                </div>   
            </form>
        </div>
    </section>  
</body>
</html>
{% endblock content %}