{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'assets/CSS/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/CSS/body.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Body</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="container">
    <section class="header">
        <nav>
            <div>
                <a href="#" Class="logo"><b>LOGO</b></a>
                <div class="navigation"><a href="{% url 'body_type' %}">Body Type> </a></div> 
            </div>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>                    
                    <span><li>Hello,{{request.user}}</li></span> 
                    <li>HELP</li> 
                    <span><li><a href="{% url 'logout' %}">LOGOUT</a></li></span>
                </ul>  
            </div> 
            <i class="fa fa-bars"onclick="showMenu()"></i>        
        </nav>
    </section>
    <section  class="">
        <div class="">
            <form method="POST" action=" ">

                <div class="header-update">
                    <h4>Create Body Type</h4>
                </div>
                {% csrf_token %}
                {{form}}
                <div class="save-btn">
                    <button type="submit">CREATE</button>
                </div>   
            </form>
        </div>
    </section>
    <script>
        var navLinks =document.getElementById("navLinks");
        function showMenu(){
            navLinks.style.right = "0";
        }
        function hideMenu(){
            navLinks.style.right = "-200px"
        }     

    </script>   
</body>
</html>