{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="container">
    <div>
            <form action="" method="POST">
                <div class="header-update">
                    <h4>Create Service</h4>
                </div>
                {% csrf_token %}
                <div class="service-type">
                    <label for="Service Type">Service type:</label>
                    {{form.name}}

                </div>
                <div class="service-type">
                    <label for="Description">Description:</label>
                    {{form.description}}
                </div>
                    <label for="Description">Body Type:</label>
                    {{form.category}}
                </div>
                <div class="service-type">
                    <label for="Price">Price:</label>
                    {{form.price}}
                </div><br>
                <div class="service-type">
                    <label for="available">Available</label>
                    {{form.available}}
                </div>
                <div class="save-btn">
                    <button type="submit">CREATE</button>
                </div>
            </form>
        </div>
        <!--div id="overlay"></div-->
</section>
{% endblock content %}