{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="container">
     <div class="row">
        <div class="col-md-6">
            <div class="card card-body">

                <p>Are you sure you want to delete {{vehicle}} ?</p>
                <form action="{% url 'deleteVehicle' vehicle.id %}" method="POST">
                    {% csrf_token %}
                    <a class="btn btn-warning" href="{% url 'vehicles' %}">Cancel</a>
                    <input class="btn btn-danger" type="submit" name="confirm">
                </form>
            </div>

        </div>

     </div>   
       

    </section>
{% endblock content %}