{% extends 'base.html' %}


{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
    
                    <p>Are you sure you want to delete {{service}} ?</p>
                    <form action="{% url 'deleteService' service.uid %}" method="POST">
                        {% csrf_token %}
                        <a class="btn btn-warning" href="{% url 'services' %}">Cancel</a>
                        <input class="btn btn-danger" type="submit" name="confirm">
                    </form>
                </div>
    
            </div>
    
         </div> 
   
           </div>
   
        </div>   
          
   
       </section>
{% endblock content %}