{% extends 'base.html' %}
{% load static %}


{% block content %}
<head>
    
    <link rel="stylesheet" href="{% static 'assets/CSS/body.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Body</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body >
    <section class="container">
     <div class="row">
        <div class="col-md-6">
            <div class="card card-body">

                <p>Are you sure you want to delete {{category}} ?</p>
                <form action="{% url 'delete_body' category.id %}" method="POST">
                    {% csrf_token %}
                    <a class="btn btn-warning" href="{% url 'body_type' %}">Cancel</a>
                    <input class="btn btn-danger" type="submit" name="confirm">
                </form>
            </div>

        </div>

     </div>   
       

    </section>  
</body>
</html>
{% endblock content %}