{% extends 'base.html' %}

{% block content %}
        <section class="container functions">
            <div class="row">
                <h2>Services</h2>
                    <div class="col-md-3"><button type="button" class="btn1 btn-primary"><a href="{% url 'carwash' %}">CARWASH</a></button></div>
                    <div class="col-md-3"><button type="button" class="btn4 btn-primary">CARPET CLEANING</button></div>
                    <div class="col-md-3"><button type="button" class="btn2 btn-primary">TOILET</button></div>
                    <div class="col-md-3"><button type="button" class="btn3 btn-primary">WATER SALE</button></div>
            </div>   
            <hr> 
            <h2>Key Functions</h2>
            <div class="row updates">
                    <div class="col-md-3"><a href="{% url 'body_type' %}"><button>Body Type</button></a></div>
                    <div class="col-md-3"><a href="{% url 'services' %}"><button>Services</button></a></div>
                    <div class="col-md-3"><a href="{% url 'vehicles' %}"><button>Vehicles</button></a></div>
                    <div class="col-md-3"><a href="{% url 'users' %}"><button>Users</button></a></div>  
            </div>
    
            
        </section>
    
    {% endblock content %}
</html>