{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'assets/CSS/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/CSS/carwashsys.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Service</th>
                    <th>Registration</th>
                    <!-- <th>Body Type</th> -->
                    <th>Attendant</th>
                    <th>Price</th>
                    <th>Commision</th>
                    <th>Payment</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales %}
                    <tr>
                        <td>{{sale.created}}</td>
                        <td>{{sale.service}}</td>
                        <td>{{sale.vehicle}}</td>
                        <!-- <td>{{sale.body_type}}</td> -->
                        <td>{{sale.staff}}</td>
                        <td>{{sale.service_price}}</td>
                        <td>{{sale.commision}}</td>
                        <td>
                            <span class="action_btn">
                            <a href="{% url 'Payment' sale.uid %}">PAY</a>
                            </span>
                        </td>

                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4"><b>Total of Unpaid Vehicles</b></td>
                    <td style="font-weight: bold;" id="saletotal"></td>
                    <td style="font-weight: bold;" id="commisiontotal"></td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="row">
        <center>
            <a href="{% url 'carwash' %}"><button style="margin-top: 5px;padding:4px;border-radius:4px;border:none"><i class="fa fa-chevron-left"></i> Carwash</button></a>
        </center>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="{% static './jquery-3.6.1.min.js' %}"></script>
    <script>
        //summation of paid rent and Management Earning
        $(document).ready(function(){
            var sale;
            var commission;
            var totalSale = 0;
            var totalCommision = 0;
            $('td:nth-child(5)').each(function(){
                sale = $(this).html();
                totalSale+=parseInt(sale);
                $('#saletotal').text(totalSale)

            })
            $('td:nth-child(6)').each(function(){
                commission = $(this).html();
                totalCommision+=parseInt(commission);
                $('#commisiontotal').text(totalCommision)

            })

            console.log('Hello world')
        })
    </script>
</body>
</html>
{% endblock content %}
