{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'assets/CSS/services.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <section class="container Body-table">
        <table>
            <thead>
                <tr>
                    <th>Service Type</th>
                    <th>Description</th>
                   <!--th>Body type</-th-->
                    <th>Price</th>
                    <!--th>Status</th-->
                    <th>Action</th>
                </tr>
            </thead>
            {% for service in services%}
            <tbody>
                <tr>
                    <td>{{service.name}}</td>
                    <td>{{service.description}}</td>
                    <!--td>{{service.category}}</td-->
                    <td>{{service.price}}</td>
                    <!--td>{{service.available}}</td-->
                    <td>
                        <span class="action_btn" id="update-btn">
                            <a href="{% url 'updateService' service.uid %}" class="modal-btn">Update</a>
                            <a href="{% url 'deleteService' service.uid %}" class="modal-btn">Delete</a>
                        </span>
                    </td>
            </tbody>
            {% endfor %}

        </table>
        <a href="{% url 'createService'%}"><button class="btn-create" id="create-btn">Create</button></a>
    </section>

        <!--div id="overlay"></div-->
    <script src="{% static 'assets/javascript/main.js' %}"></script>

</body>
</html>
{% endblock content %}
