{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section  class="container">
        <div class=>
            <form action=" " method="POST">
                <div class="header-update">
                    <h4>Update Vehicle</h4>
                </div>
                {% csrf_token%}
                {{form}}
                
                <div class="save-btn">
                    <input type="submit" value="Update">
                </div>   
            </form>
        </div>
    </section>
    <script src="{% static 'javascript/main.js' %}"></script> 
    {% endblock content %}    